html {
	
	width : 100%;
	height : 100%;

	font-family : Arial;
	font-size : 12px;

	background: #888;

}

h1 {
	font-size : 1.5em;
	font-weight: normal;
	color: #222;
}

main {
	width: 100%;
	position: absolute;
	text-align: center;
	padding: 0 0 5% 0;
	margin: 0;
	cursor: default;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

canvas {
	background : #bababa;
	cursor: crosshair;
}

.options {
	width: 800px;
	margin: 0 -400px;
	background: #ccc;
	padding: 1% 0;
	box-shadow: 0 2px 4px #222;
	position: absolute;
	left: 50%;

}

.options input:hover {
	cursor: pointer
}

.slider {
	float : left;
	width: 200px;
    padding: 1% 3%;
    border: 1px solid white;
    box-shadow: 1px 1px;
    margin: 0 1%;
}

.slider input {
	width: 100%;
	float:left;
}

.slider label {
	float: left;
	clear: both;
}

.slider .component {
	width:100%;
}

.slider .component .label-contain {
	width: 100%;
	height: 16px;
	position: relative;
}

.slider .component label {
	position: absolute;
	background: white;
	width: 13%;
}

.slider .component .value {

	font-size: 0.9em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}